/* line 12, ../sass/admin/dashboard.sass */
body.dashboard {
  background-color: #8c8d8e;
  color: white;
  height: 100%;
  margin: 0;
}

/* line 18, ../sass/admin/dashboard.sass */
#dashboard {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 21, ../sass/admin/dashboard.sass */
#dashboard .shortcut {
  position: relative;
  display: inline;
  float: left;
  width: 15.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 60px;
}
/* line 24, ../sass/admin/dashboard.sass */
#dashboard #user_info {
  position: relative;
  display: inline;
  float: left;
  width: 32.333%;
  margin-right: 1%;
  margin-top: 1%;
  height: 60px;
}
/* line 27, ../sass/admin/dashboard.sass */
#dashboard #recent_pages {
  position: relative;
  display: inline;
  float: left;
  width: 40.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 300px;
}
/* line 30, ../sass/admin/dashboard.sass */
#dashboard #draft_pages {
  position: relative;
  display: inline;
  float: left;
  width: 40.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 300px;
}
/* line 33, ../sass/admin/dashboard.sass */
#dashboard #user_tasks {
  position: relative;
  display: inline;
  float: left;
  width: 15.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 300px;
}
/* line 36, ../sass/admin/dashboard.sass */
#dashboard #recent_assets {
  position: relative;
  display: inline;
  float: left;
  width: 99%;
  margin-right: 1%;
  margin-top: 1%;
  min-height: 110px;
}

/* line 40, ../sass/admin/dashboard.sass */
.dashboard_module {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  color: #333333;
  font-size: 90%;
}
/* line 49, ../sass/admin/dashboard.sass */
.dashboard_module .header {
  padding: 5px 10px 0 10px;
}
/* line 51, ../sass/admin/dashboard.sass */
.dashboard_module .blockcontent {
  padding: 0 10px 5px 10px;
}
/* line 54, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page {
  margin-bottom: 0.5em;
}
/* line 56, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 {
  margin: 0;
}
/* line 58, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 a.page {
  color: black;
  text-decoration: none;
}
/* line 61, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 a.page:hover {
  color: #0066cc;
  text-decoration: underline;
}
/* line 64, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 a.public {
  text-decoration: none;
  color: #cc0000;
}
/* line 67, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page p.minor {
  margin-top: -3px;
  margin-left: 32px;
}
/* line 70, ../sass/admin/dashboard.sass */
.dashboard_module h2 {
  color: #bbb8ac;
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1;
}
/* line 75, ../sass/admin/dashboard.sass */
.dashboard_module p.subhead {
  margin: 0 0 0.25em 0;
  color: #bbb8ac;
}
/* line 78, ../sass/admin/dashboard.sass */
.dashboard_module p.minor {
  margin: 1em 0 0 0;
  overflow: hidden;
  font-size: 80%;
  color: #bbb8ac;
}
/* line 83, ../sass/admin/dashboard.sass */
.dashboard_module p.minor a {
  color: #bbb8ac;
  text-decoration: none;
}
/* line 86, ../sass/admin/dashboard.sass */
.dashboard_module p.minor a:hover {
  color: #0066cc;
}
/* line 88, ../sass/admin/dashboard.sass */
.dashboard_module p.inset {
  margin-left: 44px;
}
/* line 90, ../sass/admin/dashboard.sass */
.dashboard_module table {
  width: 100%;
  margin: 0 -10px;
}
/* line 93, ../sass/admin/dashboard.sass */
.dashboard_module ul.links {
  padding-left: 14px;
}
/* line 95, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li {
  list-style: square;
}
/* line 97, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li span.title {
  font-weight: bold;
  font-size: 120%;
}
/* line 100, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a {
  color: black;
  text-decoration: none;
}
/* line 103, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a.admin {
  color: #cc0000;
}
/* line 105, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a.notyet {
  color: #cccccc;
  text-decoration: line-through;
}
/* line 108, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a:hover {
  color: #0066cc;
}
/* line 111, ../sass/admin/dashboard.sass */
.dashboard_module a.icon img {
  border: 2px solid white;
  margin: 0 2px 5px 0;
}
/* line 114, ../sass/admin/dashboard.sass */
.dashboard_module p.note {
  margin: 0.5em;
  font-size: 85%;
}
/* line 117, ../sass/admin/dashboard.sass */
.dashboard_module.assets {
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 120, ../sass/admin/dashboard.sass */
.dashboard_module.assets p {
  padding-top: 1em;
  clear: left;
}

/* line 124, ../sass/admin/dashboard.sass */
.shortcut {
  overflow: hidden;
  background-color: #8c8d8e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8d8e), color-stop(33.333%, #78797a), color-stop(66.667%, #8c8d8e), color-stop(100%, #8c8d8e));
  background-image: -webkit-linear-gradient(top, #8c8d8e, #78797a, #8c8d8e, #8c8d8e);
  background-image: -moz-linear-gradient(top, #8c8d8e, #78797a, #8c8d8e, #8c8d8e);
  background-image: -o-linear-gradient(top, #8c8d8e, #78797a, #8c8d8e, #8c8d8e);
  background-image: -ms-linear-gradient(top, #8c8d8e, #78797a, #8c8d8e, #8c8d8e);
  background-image: linear-gradient(top, #8c8d8e, #78797a, #8c8d8e, #8c8d8e);
  font-size: 100%;
  height: 60px;
  text-align: left;
  color: white;
  text-decoration: none;
}
/* line 132, ../sass/admin/dashboard.sass */
.shortcut.empty {
  background: none;
  color: #c0c1c3;
}
/* line 135, ../sass/admin/dashboard.sass */
.shortcut span {
  display: block;
  margin: 14px;
  padding-left: 40px;
  line-height: 1.1;
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 142, ../sass/admin/dashboard.sass */
.shortcut span.new {
  background-image: url("/images/admin/dashboard/link.png");
}
/* line 144, ../sass/admin/dashboard.sass */
.shortcut span.page {
  background-image: url("/images/admin/dashboard/page.png");
}
/* line 146, ../sass/admin/dashboard.sass */
.shortcut span.person {
  background-image: url("/images/admin/dashboard/person.png");
}
/* line 148, ../sass/admin/dashboard.sass */
.shortcut span.asset {
  background-image: url("/images/admin/dashboard/asset.png");
}
/* line 150, ../sass/admin/dashboard.sass */
.shortcut span.topic {
  background-image: url("/images/admin/dashboard/topic.png");
}

/* line 153, ../sass/admin/dashboard.sass */
a.shortcut:hover {
  background-color: #99a098;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99a098), color-stop(33.333%, #848c83), color-stop(66.667%, #99a098), color-stop(100%, #99a098));
  background-image: -webkit-linear-gradient(top, #99a098, #848c83, #99a098, #99a098);
  background-image: -moz-linear-gradient(top, #99a098, #848c83, #99a098, #99a098);
  background-image: -o-linear-gradient(top, #99a098, #848c83, #99a098, #99a098);
  background-image: -ms-linear-gradient(top, #99a098, #848c83, #99a098, #99a098);
  background-image: linear-gradient(top, #99a098, #848c83, #99a098, #99a098);
  color: white;
}

/* line 158, ../sass/admin/dashboard.sass */
#user_info img.avatar {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  float: left;
  margin-right: 8px;
  margin-top: 12px;
}
/* line 163, ../sass/admin/dashboard.sass */
#user_info h1 {
  font-weight: bold;
  margin: 0.5em 0 0 0;
  font-size: 1.6em;
  line-height: 1;
}
/* line 168, ../sass/admin/dashboard.sass */
#user_info h1 a {
  color: black;
  text-decoration: none;
}
/* line 171, ../sass/admin/dashboard.sass */
#user_info h1 a:hover {
  color: #0066cc;
}
/* line 173, ../sass/admin/dashboard.sass */
#user_info p.minor {
  margin: 0;
}

/* line 176, ../sass/admin/dashboard.sass */
p.footer {
  clear: left;
  margin: 10px;
  padding-top: 20px;
  font-size: 80%;
  color: #bbb8ac;
}
/* line 182, ../sass/admin/dashboard.sass */
p.footer a {
  color: #bbb8ac;
}
/* line 184, ../sass/admin/dashboard.sass */
p.footer a:hover {
  color: #0066cc;
}

/* line 187, ../sass/admin/dashboard.sass */
.hanging {
  overflow: hidden;
}
