/* line 12, ../sass/admin/dashboard.sass */
body.dashboard {
  background-color: #9b1200;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9b1200), color-stop(100%, #cc0000));
  background-image: -webkit-linear-gradient(top, #9b1200, #cc0000);
  background-image: -moz-linear-gradient(top, #9b1200, #cc0000);
  background-image: -o-linear-gradient(top, #9b1200, #cc0000);
  background-image: -ms-linear-gradient(top, #9b1200, #cc0000);
  background-image: linear-gradient(top, #9b1200, #cc0000);
  color: white;
  height: 100%;
  margin: 0;
}

/* line 19, ../sass/admin/dashboard.sass */
#dashboard {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 22, ../sass/admin/dashboard.sass */
#dashboard .shortcut {
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 60px;
}
/* line 25, ../sass/admin/dashboard.sass */
#dashboard #user_info {
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.333%;
  margin-right: 1%;
  margin-top: 1%;
  height: 60px;
}
/* line 28, ../sass/admin/dashboard.sass */
#dashboard #recent_pages {
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  width: 40.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 400px;
}
/* line 31, ../sass/admin/dashboard.sass */
#dashboard #draft_pages {
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  width: 40.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 400px;
}
/* line 34, ../sass/admin/dashboard.sass */
#dashboard #user_tasks {
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.667%;
  margin-right: 1%;
  margin-top: 1%;
  height: 400px;
}
/* line 37, ../sass/admin/dashboard.sass */
#dashboard #recent_assets {
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  width: 99%;
  margin-right: 1%;
  margin-top: 1%;
  min-height: 110px;
}

/* line 41, ../sass/admin/dashboard.sass */
.dashboard_module {
  overflow: hidden;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #333333;
  font-size: 90%;
}
/* line 49, ../sass/admin/dashboard.sass */
.dashboard_module .header {
  padding: 5px 10px 0 10px;
}
/* line 51, ../sass/admin/dashboard.sass */
.dashboard_module .blockcontent {
  padding: 0 10px 5px 10px;
}
/* line 54, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page {
  margin-bottom: 0.5em;
}
/* line 56, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 {
  margin: 0;
}
/* line 58, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 a.page {
  color: black;
  text-decoration: none;
}
/* line 61, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 a.page:hover {
  color: #0066cc;
  text-decoration: underline;
}
/* line 64, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page h3 a.public {
  text-decoration: none;
  color: #cc0000;
}
/* line 67, ../sass/admin/dashboard.sass */
.dashboard_module .pages .page p.minor {
  margin-top: -3px;
  margin-left: 32px;
}
/* line 70, ../sass/admin/dashboard.sass */
.dashboard_module h2 {
  color: #bbb8ac;
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1;
}
/* line 75, ../sass/admin/dashboard.sass */
.dashboard_module p.subhead {
  margin: 0 0 0.25em 0;
  color: #bbb8ac;
}
/* line 78, ../sass/admin/dashboard.sass */
.dashboard_module p.minor {
  margin: 1em 0 0 0;
  overflow: hidden;
  font-size: 80%;
  color: #bbb8ac;
}
/* line 83, ../sass/admin/dashboard.sass */
.dashboard_module p.minor a {
  color: #bbb8ac;
  text-decoration: none;
}
/* line 86, ../sass/admin/dashboard.sass */
.dashboard_module p.minor a:hover {
  color: #0066cc;
}
/* line 88, ../sass/admin/dashboard.sass */
.dashboard_module p.inset {
  margin-left: 44px;
}
/* line 90, ../sass/admin/dashboard.sass */
.dashboard_module table {
  width: 100%;
  margin: 0 -10px;
}
/* line 93, ../sass/admin/dashboard.sass */
.dashboard_module ul.links {
  padding-left: 20px;
}
/* line 95, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li {
  list-style: square;
}
/* line 97, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li span.title {
  font-weight: bold;
  font-size: 120%;
}
/* line 100, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a {
  color: black;
  text-decoration: none;
}
/* line 103, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a.admin {
  color: #cc0000;
}
/* line 105, ../sass/admin/dashboard.sass */
.dashboard_module ul.links li a:hover {
  color: #0066cc;
}
/* line 108, ../sass/admin/dashboard.sass */
.dashboard_module a.icon img {
  border: 2px solid white;
  margin: 0 2px 5px 0;
}
/* line 111, ../sass/admin/dashboard.sass */
.dashboard_module p.note {
  margin: 0.5em;
  font-size: 85%;
}
/* line 114, ../sass/admin/dashboard.sass */
.dashboard_module.assets {
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 117, ../sass/admin/dashboard.sass */
.dashboard_module.assets p {
  padding-top: 1em;
  clear: left;
}

/* line 121, ../sass/admin/dashboard.sass */
.shortcut {
  background-color: #cc0000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc0000), color-stop(33.333%, #a30000), color-stop(66.667%, #cc0000), color-stop(100%, #cc0000));
  background-image: -webkit-linear-gradient(top, #cc0000, #a30000, #cc0000, #cc0000);
  background-image: -moz-linear-gradient(top, #cc0000, #a30000, #cc0000, #cc0000);
  background-image: -o-linear-gradient(top, #cc0000, #a30000, #cc0000, #cc0000);
  background-image: -ms-linear-gradient(top, #cc0000, #a30000, #cc0000, #cc0000);
  background-image: linear-gradient(top, #cc0000, #a30000, #cc0000, #cc0000);
  font-size: 110%;
  line-height: 60px;
  text-align: center;
  color: white;
  text-decoration: none;
}
/* line 128, ../sass/admin/dashboard.sass */
.shortcut.empty {
  background-color: #b23839;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b23839), color-stop(33.333%, #932e2f), color-stop(66.667%, #b23839), color-stop(100%, #b23839));
  background-image: -webkit-linear-gradient(top, #b23839, #932e2f, #b23839, #b23839);
  background-image: -moz-linear-gradient(top, #b23839, #932e2f, #b23839, #b23839);
  background-image: -o-linear-gradient(top, #b23839, #932e2f, #b23839, #b23839);
  background-image: -ms-linear-gradient(top, #b23839, #932e2f, #b23839, #b23839);
  background-image: linear-gradient(top, #b23839, #932e2f, #b23839, #b23839);
}
/* line 130, ../sass/admin/dashboard.sass */
.shortcut.green {
  background-color: #8ebc65;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ebc65), color-stop(33.333%, #79ad4b), color-stop(66.667%, #8ebc65), color-stop(100%, #8ebc65));
  background-image: -webkit-linear-gradient(top, #8ebc65, #79ad4b, #8ebc65, #8ebc65);
  background-image: -moz-linear-gradient(top, #8ebc65, #79ad4b, #8ebc65, #8ebc65);
  background-image: -o-linear-gradient(top, #8ebc65, #79ad4b, #8ebc65, #8ebc65);
  background-image: -ms-linear-gradient(top, #8ebc65, #79ad4b, #8ebc65, #8ebc65);
  background-image: linear-gradient(top, #8ebc65, #79ad4b, #8ebc65, #8ebc65);
}
/* line 132, ../sass/admin/dashboard.sass */
.shortcut.blue {
  background-color: #549dc4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #549dc4), color-stop(33.333%, #3d89b2), color-stop(66.667%, #549dc4), color-stop(100%, #549dc4));
  background-image: -webkit-linear-gradient(top, #549dc4, #3d89b2, #549dc4, #549dc4);
  background-image: -moz-linear-gradient(top, #549dc4, #3d89b2, #549dc4, #549dc4);
  background-image: -o-linear-gradient(top, #549dc4, #3d89b2, #549dc4, #549dc4);
  background-image: -ms-linear-gradient(top, #549dc4, #3d89b2, #549dc4, #549dc4);
  background-image: linear-gradient(top, #549dc4, #3d89b2, #549dc4, #549dc4);
}
/* line 134, ../sass/admin/dashboard.sass */
.shortcut.orange {
  background-color: #efa31f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efa31f), color-stop(33.333%, #d68d0f), color-stop(66.667%, #efa31f), color-stop(100%, #efa31f));
  background-image: -webkit-linear-gradient(top, #efa31f, #d68d0f, #efa31f, #efa31f);
  background-image: -moz-linear-gradient(top, #efa31f, #d68d0f, #efa31f, #efa31f);
  background-image: -o-linear-gradient(top, #efa31f, #d68d0f, #efa31f, #efa31f);
  background-image: -ms-linear-gradient(top, #efa31f, #d68d0f, #efa31f, #efa31f);
  background-image: linear-gradient(top, #efa31f, #d68d0f, #efa31f, #efa31f);
}
/* line 136, ../sass/admin/dashboard.sass */
.shortcut.grey {
  background-color: #afafaf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afafaf), color-stop(33.333%, #9b9b9b), color-stop(66.667%, #afafaf), color-stop(100%, #afafaf));
  background-image: -webkit-linear-gradient(top, #afafaf, #9b9b9b, #afafaf, #afafaf);
  background-image: -moz-linear-gradient(top, #afafaf, #9b9b9b, #afafaf, #afafaf);
  background-image: -o-linear-gradient(top, #afafaf, #9b9b9b, #afafaf, #afafaf);
  background-image: -ms-linear-gradient(top, #afafaf, #9b9b9b, #afafaf, #afafaf);
  background-image: linear-gradient(top, #afafaf, #9b9b9b, #afafaf, #afafaf);
}

/* line 139, ../sass/admin/dashboard.sass */
a.shortcut:hover {
  background-color: #dd1111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dd1111), color-stop(33.333%, #b70e0e), color-stop(66.667%, #dd1111), color-stop(100%, #dd1111));
  background-image: -webkit-linear-gradient(top, #dd1111, #b70e0e, #dd1111, #dd1111);
  background-image: -moz-linear-gradient(top, #dd1111, #b70e0e, #dd1111, #dd1111);
  background-image: -o-linear-gradient(top, #dd1111, #b70e0e, #dd1111, #dd1111);
  background-image: -ms-linear-gradient(top, #dd1111, #b70e0e, #dd1111, #dd1111);
  background-image: linear-gradient(top, #dd1111, #b70e0e, #dd1111, #dd1111);
}

/* line 143, ../sass/admin/dashboard.sass */
#user_info img.avatar {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  float: left;
  margin-right: 8px;
  margin-top: 12px;
}
/* line 148, ../sass/admin/dashboard.sass */
#user_info h1 {
  font-weight: bold;
  margin: 0.5em 0 0 0;
  font-size: 1.6em;
  line-height: 1;
}
/* line 153, ../sass/admin/dashboard.sass */
#user_info h1 a {
  color: black;
  text-decoration: none;
}
/* line 156, ../sass/admin/dashboard.sass */
#user_info h1 a:hover {
  color: #0066cc;
}
/* line 158, ../sass/admin/dashboard.sass */
#user_info p.minor {
  margin: 0;
}

/* line 161, ../sass/admin/dashboard.sass */
p.footer {
  clear: left;
  margin: 10px;
  padding-top: 20px;
  font-size: 80%;
  color: #bbb8ac;
}
/* line 167, ../sass/admin/dashboard.sass */
p.footer a {
  color: #bbb8ac;
}
/* line 169, ../sass/admin/dashboard.sass */
p.footer a:hover {
  color: #0066cc;
}

/* line 172, ../sass/admin/dashboard.sass */
.hanging {
  overflow: hidden;
}
