/* line 22, ../sass/admin/event_calendar.sass */
.note {
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 85%;
  color: #cccccc;
  line-height: 1.3;
  text-shadow: none;
}

/* line 26, ../sass/admin/event_calendar.sass */
table.index td.subscription-title {
  font-size: 115%;
  font-weight: bold;
}
/* line 30, ../sass/admin/event_calendar.sass */
table.index th a {
  color: #cccccc;
  text-decoration: none;
}
/* line 33, ../sass/admin/event_calendar.sass */
table.index th a:hover {
  color: white;
}

/* line 37, ../sass/admin/event_calendar.sass */
span.calendar_actions img {
  opacity: 0.5;
}
/* line 40, ../sass/admin/event_calendar.sass */
span.calendar_actions a img {
  opacity: 1;
}

/* line 47, ../sass/admin/event_calendar.sass */
table#events tr td.datemark {
  width: 40px;
  vertical-align: top;
  text-align: center;
  line-height: 1;
}
/* line 52, ../sass/admin/event_calendar.sass */
table#events tr td.datemark a {
  text-decoration: none;
}
/* line 54, ../sass/admin/event_calendar.sass */
table#events tr td.datemark span.month {
  display: block;
  margin-top: 5px;
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 90%;
  text-transform: uppercase;
}
/* line 61, ../sass/admin/event_calendar.sass */
table#events tr td.datemark span.day {
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 160%;
}
/* line 66, ../sass/admin/event_calendar.sass */
table#events tr td.event {
  width: 40%;
  vertical-align: center;
}
/* line 69, ../sass/admin/event_calendar.sass */
table#events tr td.event h3 {
  margin: 2px 0 0;
  line-height: 1;
}
/* line 72, ../sass/admin/event_calendar.sass */
table#events tr td.event h3 a {
  text-decoration: none;
}
/* line 74, ../sass/admin/event_calendar.sass */
table#events tr td.event p.description {
  margin: 0;
  font-size: 80%;
  color: #999999;
}
/* line 78, ../sass/admin/event_calendar.sass */
table#events tr td.event p.keywords {
  margin: 4px 0;
  font-size: 80%;
}
/* line 81, ../sass/admin/event_calendar.sass */
table#events tr td.time, table#events tr td.location, table#events tr td.keywords, table#events tr td.recurrence {
  vertical-align: center;
}
/* line 83, ../sass/admin/event_calendar.sass */
table#events tr td.remove {
  vertical-align: center;
}
/* line 85, ../sass/admin/event_calendar.sass */
table#events tr td.remove span.ineditable {
  color: #666666;
  font-size: 80%;
  background: url(/images/admin/minus.png) no-repeat scroll 4px 0;
  padding-left: 20px;
  opacity: 0.3;
}
/* line 92, ../sass/admin/event_calendar.sass */
table#events tr.continuing td, table#events tr.past td {
  color: #b2aaa4;
}
/* line 94, ../sass/admin/event_calendar.sass */
table#events tr.continuing td a, table#events tr.continuing td span, table#events tr.past td a, table#events tr.past td span {
  color: #b2aaa4;
}
/* line 98, ../sass/admin/event_calendar.sass */
table#events tr.deleted td.datemark a, table#events tr.deleted td.datemark span {
  color: #cccccc;
}
/* line 102, ../sass/admin/event_calendar.sass */
table#events tr.deleted td.event h3 a, table#events tr.deleted td.event h3 span {
  color: #cccccc;
  text-decoration: line-through;
}

/* line 109, ../sass/admin/event_calendar.sass */
table#event_venues td.event_venue {
  width: 40%;
  vertical-align: center;
}
/* line 112, ../sass/admin/event_calendar.sass */
table#event_venues td.event_venue h3 {
  margin: 0;
  line-height: 1.2;
}
/* line 115, ../sass/admin/event_calendar.sass */
table#event_venues td.event_venue h3 a {
  text-decoration: none;
}
/* line 117, ../sass/admin/event_calendar.sass */
table#event_venues td.event_venue p.description {
  margin: 4px 0;
  font-size: 80%;
  color: #999999;
}
/* line 121, ../sass/admin/event_calendar.sass */
table#event_venues td.location, table#event_venues td.url {
  font-size: 80%;
  vertical-align: center;
}
/* line 124, ../sass/admin/event_calendar.sass */
table#event_venues td.actions {
  white-space: nowrap;
}

/* line 131, ../sass/admin/event_calendar.sass */
#content .form-area input[disabled='disabled'], #content .form-area textarea[disabled='disabled'] {
  background-color: #dadada;
  border-color: #e7e7e7;
}
/* line 135, ../sass/admin/event_calendar.sass */
#content .form-area .main {
  position: relative;
  width: 73%;
  margin-right: 2%;
  float: left;
  overflow: hidden;
}
/* line 141, ../sass/admin/event_calendar.sass */
#content .form-area .main p:first-child {
  margin-top: 0;
}
/* line 143, ../sass/admin/event_calendar.sass */
#content .form-area .main input.textbox, #content .form-area .main textarea, #content .form-area .main select {
  width: 99%;
  margin-top: 3px;
}
/* line 146, ../sass/admin/event_calendar.sass */
#content .form-area .main p.title {
  margin-top: 0;
  margin-bottom: 1em;
}
/* line 149, ../sass/admin/event_calendar.sass */
#content .form-area .main p.title input {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 200%;
}
/* line 153, ../sass/admin/event_calendar.sass */
#content .form-area .metadata {
  position: relative;
  width: 25%;
  float: left;
  overflow: hidden;
}
/* line 158, ../sass/admin/event_calendar.sass */
#content .form-area .metadata p:first-child {
  margin-top: 0;
}
/* line 160, ../sass/admin/event_calendar.sass */
#content .form-area .metadata p.keywords {
  margin-bottom: 1em;
}
/* line 162, ../sass/admin/event_calendar.sass */
#content .form-area .metadata p.keywords input {
  margin-top: 4px;
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 200%;
  color: #cc0000;
}
/* line 168, ../sass/admin/event_calendar.sass */
#content .form-area p.updated_line {
  clear: left;
}
/* line 170, ../sass/admin/event_calendar.sass */
#content .form-area .buttons {
  clear: both;
}
/* line 174, ../sass/admin/event_calendar.sass */
#content #calendar_form #subscription {
  overflow: hidden;
  margin-right: 2px;
}
/* line 177, ../sass/admin/event_calendar.sass */
#content #calendar_form #subscription div {
  margin: 0.5em 2% 0 1%;
  width: 47%;
  float: left;
}
/* line 181, ../sass/admin/event_calendar.sass */
#content #calendar_form #subscription div input.textbox {
  width: 100%;
  padding: 6px 0;
  border: 1px solid #666666;
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 95%;
}
/* line 183, ../sass/admin/event_calendar.sass */
#content #calendar_form .drawer_handle {
  clear: both;
}
/* line 186, ../sass/admin/event_calendar.sass */
#content #calendar_form .filing p {
  margin-top: 0;
}
/* line 188, ../sass/admin/event_calendar.sass */
#content #calendar_form .filing p.calendar_category {
  width: 47%;
  float: left;
  margin-right: 4%;
}
/* line 192, ../sass/admin/event_calendar.sass */
#content #calendar_form .filing p.calendar_slug {
  width: 48%;
  float: left;
}
/* line 198, ../sass/admin/event_calendar.sass */
#content #event_form p.start_date, #content #venue_form p.start_date {
  margin: 0;
  width: 25%;
  float: left;
  margin-right: 4%;
}
/* line 203, ../sass/admin/event_calendar.sass */
#content #event_form p.end_date, #content #venue_form p.end_date {
  margin: 0;
  width: 25%;
  float: left;
}
/* line 208, ../sass/admin/event_calendar.sass */
#content #event_form div.recurrence, #content #venue_form div.recurrence {
  clear: left;
}
/* line 210, ../sass/admin/event_calendar.sass */
#content #event_form div.recurrence p.recurrence, #content #venue_form div.recurrence p.recurrence {
  margin: 0;
}
/* line 212, ../sass/admin/event_calendar.sass */
#content #event_form div.recurrence p#recurrence_detail, #content #venue_form div.recurrence p#recurrence_detail {
  overflow: hidden;
  margin-top: 0;
}
/* line 215, ../sass/admin/event_calendar.sass */
#content #event_form div.recurrence p#recurrence_detail span, #content #venue_form div.recurrence p#recurrence_detail span {
  float: left;
  margin-right: 1%;
  width: 24%;
}
/* line 219, ../sass/admin/event_calendar.sass */
#content #event_form div.recurrence p#recurrence_detail span input, #content #event_form div.recurrence p#recurrence_detail span select, #content #venue_form div.recurrence p#recurrence_detail span input, #content #venue_form div.recurrence p#recurrence_detail span select {
  width: 95%;
}
/* line 222, ../sass/admin/event_calendar.sass */
#content #event_form div#venue select, #content #venue_form div#venue select {
  width: 100%;
  padding: 6px 0;
  border: 1px solid #666666;
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 95%;
}
/* line 225, ../sass/admin/event_calendar.sass */
#content #event_form p.url, #content #venue_form p.url {
  clear: both;
}
/* line 227, ../sass/admin/event_calendar.sass */
#content #event_form p.description, #content #venue_form p.description {
  clear: both;
}
/* line 229, ../sass/admin/event_calendar.sass */
#content #event_form div.venue, #content #event_form div.newvenue, #content #venue_form div.venue, #content #venue_form div.newvenue {
  overflow: auto;
  clear: left;
}
/* line 232, ../sass/admin/event_calendar.sass */
#content #event_form textarea, #content #venue_form textarea {
  height: 5em;
}
/* line 235, ../sass/admin/event_calendar.sass */
#content #event_form label.minor, #content #venue_form label.minor {
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 85%;
  color: #cccccc;
  line-height: 1.3;
  text-shadow: none;
  display: inline;
}
/* line 238, ../sass/admin/event_calendar.sass */
#content #event_form label.inline, #content #venue_form label.inline {
  display: inline;
}
/* line 240, ../sass/admin/event_calendar.sass */
#content #event_form .hidden, #content #venue_form .hidden {
  display: none;
}

/* line 243, ../sass/admin/event_calendar.sass */
a.toggleMCE {
  display: block;
  width: 24px;
  height: 24px;
  padding-left: 24px;
  float: right;
}

/* line 251, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
}
/* line 256, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control form {
  text-align: center;
}
/* line 258, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control form h4 {
  margin: 10px;
  color: #999999;
  font-weight: lighter;
}
/* line 262, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control form input.hours, .calendar_popup div.clock_control form input.minutes {
  width: 60px;
  border: 1px solid #cccccc;
  padding: 4px;
  font-size: 40px;
}
/* line 267, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control form span.colon {
  padding: 4px;
  font-size: 40px;
  color: #333333;
  width: 10px;
}
/* line 272, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control form input.set_time {
  font-size: 30px;
  width: 114px;
  margin: 20px 0;
}
/* line 276, ../sass/admin/event_calendar.sass */
.calendar_popup div.clock_control form a.cancel {
  cursor: pointer;
}
