/* line 4, ../sass/admin/event_calendar_dashboard.sass */
#dashboard #coming_events {
  position: relative;
  display: inline;
  float: left;
  width: 32.333%;
  margin-right: 1%;
  margin-top: 1%;
  height: 300px;
}

/* line 8, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent {
  position: relative;
}
/* line 10, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .event {
  position: relative;
  clear: left;
  margin-bottom: 1em;
}
/* line 14, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .event .datemark {
  float: left;
  text-align: center;
  line-height: 1.05;
  padding-top: 4px;
  color: #bbb8ac;
}
/* line 20, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .event .datemark .mon, .blockcontent .event .datemark .dow {
  display: block;
  font-weight: lighter;
  font-size: 80%;
  text-transform: uppercase;
}
/* line 25, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .event .datemark .day, .blockcontent .event .datemark .dom {
  display: block;
  font-weight: bold;
  font-size: 120%;
}
/* line 29, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .summary {
  float: left;
  margin-left: 10px;
  margin-bottom: 6px;
  overflow: hidden;
}
/* line 34, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .summary h3 {
  font-size: 1.3em;
  margin: 0;
}
/* line 37, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .summary h3 a {
  color: black;
  text-decoration: none;
}
/* line 40, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .summary h3 a:hover {
  color: #0066cc;
  text-decoration: underline;
}
/* line 43, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .summary p {
  margin-top: 0;
  font-size: 90%;
  line-height: 1.4;
}
/* line 47, ../sass/admin/event_calendar_dashboard.sass */
.blockcontent .summary p.venue {
  font-style: italic;
}
