cache/*
db/
config/database.yml
config/nginx.conf
config/mongrel_cluster.yml
log/*
tmp/**/*
.DS_Store
doc/api
doc/app
public/assets/*
public/stylesheets/interface.sass
public/stylesheets/platform/interface.sass
public/page_attachments/*
post_attachments/*
public/race_instances/*
secure_downloads/*
public/icals/*
public/dl/*
public/images/local/*
.sass-cache/*
vendor/radiant
public/uploads/*
pkg/*
