/*
Syntax error: Invalid variable: "$accent = #d1005d".
        on line 8 of /private/var/www/bab/public/stylesheets/sass/reader.sass
        from line 2 of /private/var/www/bab/public/stylesheets/sass/gallery.sass

3: $dark: #4d4e53
4: $mid: #8c8d8e        
5: $pale: #afafaf
6: $paler: #bdbdbd
7: $verypale: #d6d6d4
8: $accent = #d1005d
9: 
10: =functional
11:   font-family: helvetica, arial, sans-serif
12:   font-weight: normal
13: =strong

Backtrace:
/private/var/www/bab/public/stylesheets/sass/reader.sass:8
/private/var/www/bab/public/stylesheets/sass/gallery.sass:2
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:594:in `parse_variable'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:538:in `parse_line'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:447:in `build_tree'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:466:in `append_children'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:465:in `each'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:465:in `append_children'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:322:in `_to_tree'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:249:in `to_tree'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:249:in `to_tree'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/tree/root_node.rb:20:in `render'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:291:in `_render'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:239:in `render'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/lib/sass/../sass/engine.rb:239:in `render'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/compiler.rb:181:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/compiler.rb:175:in `each'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/compiler.rb:175:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/compiler.rb:173:in `each'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin.rb:81:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin.rb:54:in `check_for_updates'
/opt/local/lib/ruby/gems/1.8/gems/sass-3.1.3/rails/../lib/sass/plugin/rack.rb:51:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-1.0.2/lib/rack/cache/context.rb:132:in `forward'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-1.0.2/lib/rack/cache/context.rb:243:in `fetch'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-1.0.2/lib/rack/cache/context.rb:181:in `lookup'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-1.0.2/lib/rack/cache/context.rb:65:in `call!'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-1.0.2/lib/rack/cache/context.rb:50:in `call'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/string_coercion.rb:25:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.2/lib/rack/head.rb:9:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.2/lib/rack/methodoverride.rb:24:in `call'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/params_parser.rb:15:in `call'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/session/cookie_store.rb:99:in `call'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/failsafe.rb:26:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.2/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:114:in `call'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/reloader.rb:34:in `run'
/private/var/www/bab/vendor/radiant/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:108:in `call'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/classic_rails/application_spawner.rb:321:in `start_request_handler'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/classic_rails/application_spawner.rb:275:in `send'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/classic_rails/application_spawner.rb:275:in `handle_spawn_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/classic_rails/application_spawner.rb:270:in `handle_spawn_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:357:in `__send__'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:180:in `start'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/classic_rails/application_spawner.rb:149:in `start'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/spawn_manager.rb:219:in `spawn_rails_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/spawn_manager.rb:214:in `spawn_rails_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server_collection.rb:82:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/spawn_manager.rb:213:in `spawn_rails_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/spawn_manager.rb:132:in `spawn_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:357:in `__send__'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/opt/local/lib/ruby/gems/1.8/gems/passenger-3.0.2/helper-scripts/passenger-spawn-server:99
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid variable: \"$accent = #d1005d\".\A         on line 8 of /private/var/www/bab/public/stylesheets/sass/reader.sass\A         from line 2 of /private/var/www/bab/public/stylesheets/sass/gallery.sass\A \A 3: $dark: #4d4e53\A 4: $mid: #8c8d8e        \A 5: $pale: #afafaf\A 6: $paler: #bdbdbd\A 7: $verypale: #d6d6d4\A 8: $accent = #d1005d\A 9: \A 10: =functional\A 11:   font-family: helvetica, arial, sans-serif\A 12:   font-weight: normal\A 13: =strong"; }
