/* line 1, sass/tagcloud.sass */
ul.cloud {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.6em;
  margin-left: -5px;
}
/* line 10, sass/tagcloud.sass */
ul.cloud li {
  display: inline;
  float: left;
  letter-spacing: -0.04em;
  height: 1.6em;
}
/* line 16, sass/tagcloud.sass */
ul.cloud li a {
  display: inline;
  white-space: nowrap;
  padding: 5px;
}

/* line 21, sass/tagcloud.sass */
a.filter, a.defilter {
  padding-left: 11px;
  font-size: 12px;
}

/* line 24, sass/tagcloud.sass */
a.filter {
  background: transparent url(/images/furniture/entag.png) no-repeat top left;
  color: #5da454;
}

/* line 27, sass/tagcloud.sass */
a.defilter {
  background: transparent url(/images/furniture/detag.png) no-repeat top left;
  color: #9d313d;
}
